<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      <h:head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" ></meta>
	<meta name="apple-mobile-web-app-capable" content="yes" ></meta>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" ></meta>
	<ui:insert name="additional_meta"></ui:insert>
	<title>SupportTool</title>

	
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="bootstrap-responsive.min.css"/>
	<h:outputStylesheet library="css" name="plugins/jquery-ui/smoothness/jquery-ui.css"/>
	<h:outputStylesheet library="css" name="plugins/jquery-ui/smoothness/jquery.ui.theme.css"/>
	<h:outputStylesheet library="css" name="plugins/pageguide/pageguide.css"/>
	<h:outputStylesheet library="css" name="plugins/fullcalendar/fullcalendar.css"/>
	<h:outputStylesheet library="css" name="plugins/fullcalendar/fullcalendar.print.css" media="print"/>
	<h:outputStylesheet library="css" name="plugins/chosen/chosen.css"/>
	<h:outputStylesheet library="css" name="plugins/select2/select2.css"/>
	<h:outputStylesheet library="css" name="plugins/icheck/all.css"/>
	<h:outputStylesheet library="css" name="style.css"/>
	<h:outputStylesheet library="css" name="themes.css"/>


	<h:outputScript library="js" name="jquery.min.js" />

	<h:outputScript library="js" name="plugins/nicescroll/jquery.nicescroll.min.js" />
	<h:outputScript library="js" name="plugins/jquery-ui/jquery.ui.core.min.js" />
	<h:outputScript library="js" name="plugins/jquery-ui/jquery.ui.widget.min.js" />
	<h:outputScript library="js" name="plugins/jquery-ui/jquery.ui.mouse.min.js" />
	<h:outputScript library="js" name="plugins/jquery-ui/jquery.ui.draggable.min.js" />
	<h:outputScript library="js" name="plugins/jquery-ui/jquery.ui.resizable.min.js" />
	<h:outputScript library="js" name="plugins/jquery-ui/jquery.ui.sortable.min.js" />
	<h:outputScript library="js" name="plugins/touch-punch/jquery.touch-punch.min.js" />
	<h:outputScript library="js" name="plugins/slimscroll/jquery.slimscroll.min.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="plugins/vmap/jquery.vmap.min.js" />
	<h:outputScript library="js" name="plugins/vmap/jquery.vmap.world.js" />
	<h:outputScript library="js" name="plugins/vmap/jquery.vmap.sampledata.js" />
	<h:outputScript library="js" name="plugins/bootbox/jquery.bootbox.js" />
	<h:outputScript library="js" name="plugins/flot/jquery.flot.min.js" />
	<h:outputScript library="js" name="plugins/flot/jquery.flot.bar.order.min.js" />
	<h:outputScript library="js" name="plugins/flot/jquery.flot.pie.min.js" />
	<h:outputScript library="js" name="plugins/flot/jquery.flot.resize.min.js" />
	<h:outputScript library="js" name="plugins/imagesLoaded/jquery.imagesloaded.min.js" />
	<h:outputScript library="js" name="plugins/pageguide/jquery.pageguide.js" />
	<h:outputScript library="js" name="plugins/fullcalendar/fullcalendar.min.js" />
	<h:outputScript library="js" name="plugins/chosen/chosen.jquery.min.js" />
	<h:outputScript library="js" name="plugins/select2/select2.min.js" />
	<h:outputScript library="js" name="plugins/icheck/jquery.icheck.min.js" />

	<h:outputScript library="js" name="eakroko.min.js" />
	<h:outputScript library="js" name="application.min.js" />
	<h:outputScript library="js" name="demonstration.min.js" />
	
	<h:outputText escape="false">
	<!--[if lte IE 9]>
		<h:outputScript library="js" name="plugins/placeholder/jquery.placeholder.min.js" />
		<script type="text/javascript">
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
	</h:outputText>

	</h:head>
	<ui:insert name="full_body">    
    	<h:body>
    		<div id="navigation">
				<div class="container-fluid">
					<a href="#" id="brand">
				      	start
				    </a>
				    <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation">
				     	<i class="icon-reorder"></i>
				    </a>
				    <ul class='main-nav'>
				      	<ui:insert name="main_nav">
				      		<li> <a href="#">Test</a></li>
				      	</ui:insert>
				    </ul>
				    <div class="user">
					      <ul class="icon-nav">
					       	 <ui:insert name="icon_menu">
					       	 	<li class='dropdown colo'>
								  <a href="#" class='dropdown-toggle' data-toggle="dropdown">
								    <i class="icon-envelope">
								    </i>
								    <span class="label label-lightred"></span>
								  </a>
								  <ul class="dropdown-menu pull-right tmessage-ul">
								    <li>
										<a href="#"> 
											<h:graphicImage library="img" name="demo/user-1.jpg"/>
											<div class="details">
												<div class="name">Just for DEMO !! </div>
												<div class="message">
													This is just for Demo, remove this and add it dynamicly.
												</div>
											</div>
										</a>
									</li>
								  </ul>
								</li>
					       	 </ui:insert>
					      </ul>
					      <div class="dropdown">
					        	<ui:insert name="user_menu">
					        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">#{loginController.user.username}<h:graphicImage library="img" name="demo/user-avatar.jpg" /></a>
									<ul class="dropdown-menu pull-right">
										<h:form>
											<li>
												<h:commandLink
													action="#{naviController.editProfile}"
												>Edit profile</h:commandLink>
											</li>
											<li>
												<a href="#">Account settings</a>
											</li>
											<li>
												<h:commandLink
													action="#{loginController.doLogout}"
												>Sign out</h:commandLink>
											</li>
										</h:form>
									</ul>
					        	</ui:insert>
					      </div>
				    </div>
				</div>
			</div>
			<div class="container-fluid" id="content">
				<div id="left">
					<ui:insert name="left">
						 
					</ui:insert>
				</div>
				<div id="main">
					<ui:insert name="main_content">
						#restore this#
					</ui:insert>
				</div>
			</div>
  		</h:body>
  	</ui:insert>
 </html>