<ui:composition template="/backend/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    
    <ui:define name="full_body">
    	<h:body class="login">
	    	<div class="wrapper">
				<h1><a href="index.jsf"><h:graphicImage library="img" name="logo-big.png"/>SUPPORT</a></h1>
				<ui:fragment rendered="#{loginController.user.username == null}">
					<div class="login-body">
						<h2>SIGN IN</h2>
						<h:form>
							<div class="control-group">
								<div class="email controls">
									<h:inputText value="#{loginController.user.username}" class="input-block-level" p:placeholder="write something" />
								</div>
							</div>
							<div class="control-group">
								<div class="pw controls">
									<h:inputSecret value="#{loginController.user.password}" placeholder="Password" class="input-block-level" />
								</div>
							</div>
							<div class="submit">
								<h:commandButton id="loginBtn"
				                	action="#{loginController.doLogin}"
				                    binding="#{loginController.loginBtn}"
				                    value="Login" styleClass="register" class="btn btn-primary"/>
		                        <div class="control-group error">
		                        	<span class="help-block error"><h:message for="loginBtn" /></span>
		                        </div>
							</div>
						</h:form>
						<div class="forget">
							<a href="#"><span>Forgot password?</span></a>
						</div>
					</div>
				</ui:fragment>
				<ui:fragment rendered="#{loginController.user.username != null}">
					Hallo #{loginController.user.username}, du bist bereits eingeloggt.
					<h:form>
						<h:commandButton id="register"
                        	action="#{loginController.goToIndex}"
                        	value="Zur Startseite" styleClass="register" class="btn btn-primary"/>
                	</h:form>
				</ui:fragment>
			</div>
	    </h:body>
    </ui:define>
</ui:composition>
