<ui:composition template="/backend/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">    	    		
			<ui:define name="main_content" >
				Start :)
			</ui:define>
</ui:composition>