<ui:composition template="/backend/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">    	
			<ui:define name="main_content" >
				<div class="container-fluid">
					<div class="page-header">
						<div class="pull-left">
							<h1>Profile</h1>
						</div>
						<div class="pull-right">
							<ul class="stats">
								<li class="lightred">
									<i class="icon-calendar"/>
									<div class="details">
										<span class="big">Date</span>
										<span>Time</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="box box-color box-bordered">
								<div class="box-title">
									<h3><i class="icon-user"/>
										Edit your profile
									</h3>
								</div>
								<div class="box-content">
									<div class="tab-content padding tab-content-inline tab-content-bottom">
										<h:form class="form-horizontal">
											<div class="row-fluid">
												<div class="span2">
													Picture comes here :)
												</div>
												<div class="span10">
													<div class="control-group">
														<label class="control-label right">Firstname:</label>
														<div class="controls">
															<h:inputText class="input-xlarge" value="#{profileController.user.vorname}"></h:inputText>
														</div>
													</div>
													<div class="control-group">
														<label for="nachname" class="control-label right">Lastname:</label>
														<div class="controls">
															<h:inputText id="nachname" class="input-xlarge" value="#{profileController.user.nachname}"></h:inputText>
															<span class="help-block error" for="nachname"><h:message for="nachname" errorClass="errorMessage" /></span>
														</div>
													</div>
													<div class="control-group">
														<label class="control-label right">Email:</label>
														<div class="controls">
															<h:inputText class="input-xlarge" value="#{profileController.user.email}"></h:inputText>
														</div>
													</div>
													<div class="form-actions">
														<h:commandButton action="#{profileController.save}" class="btn btn-primary" value="Save" />
														<h:commandButton class="btn" value="Discard changes" />
													</div>
												</div>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ui:define>
</ui:composition>